/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss-animated";

@theme{
    
    --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 700px;
    --breakpoint-lg: 1024px;
    
}


